html, body {
  height: 100%;
  margin: 0;
  background-color: #d3d3d3; /* Fundo cinza claro para toda a tela */
  color: #f5f5f5; /* Texto claro para melhor contraste */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 100%;
  padding: 1rem;
}

section {
  background-color: #ffffff; /* Fundo branco para a caixinha */
  border: 1px solid #d1d5db; /* Borda cinza clara */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
  border-radius: 0.5rem; /* Bordas arredondadas */
  padding: 1.5rem; /* Preenchimento interno */
  max-width: 32rem; /* Reduz a largura máxima da caixinha */
  margin: auto; /* Centraliza a caixinha horizontalmente */
}
